*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background: #EF5354;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    display: inline;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    margin-right: 1.2rem;
}

.input{
    border: 1.5px solid #333;
    border-radius: 0.5em;
    padding: 0.30rem;
    width: 10em;
    font-size: 1.1rem;
    font-weight: 600;
}

.select{
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0.3em;
    padding: 0.10rem;
}

.sub-heads{
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}